.App {
  text-align: center;
}
.nbar .aa{
  padding-left: 50px;
}
.nbar{
  background-color: #90c9f1;
}
.navbar a{
  font-size: 24px;
  
}

.card{
  color:black;
}
.bottom{
  maxWidth:1000px !important;
      position:fixed !important;
      top:auto !important;
      right:0 !important;
      left:0 !important;
      bottom:0 !important;
      
}